{% extends 'edudepartment/master4.html' %}

{% block content1 %}
<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard 
{% endblock %}

{% block content2 %}
<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but 
</p>
{% endblock %}

{% block content3 %}
<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the i
</p>
{% endblock %}

{% block content21 %}
<p>
Lorem Ipsum is simply dummy text of the 
</p>
{% endblock %}

{% block content22 %}
<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 
</p>
{% endblock %}

{% block content11 %}
<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum bled 
</p>
{% endblock %}
{% block content31 %}
<p>
Lorem Ipsum is simply dummy text of the printing and 

</p>
{% endblock %}

{% block content21.1 %}
<p>
Lorem Ipsum is simply dummy 
</p>
{% endblock %}

{% block content22.2 %}
Lorem Ipsum is simply dummy text of the printing 

</p>
{% endblock %}

{% block content111 %}
<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum bled 
</p>
{% endblock %}

{% block content211 %}
<p>
Lorem Ipsum is simply dummy text of the
</p>
{% endblock %}

{% block content221 %}
<p>
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy 	
</p>
{% endblock %}

{% block content21.11 %}
<p>
Lorem Ipsum is simply dummy 
</p>
{% endblock %}

{% block content22.21 %}
<p>
Lorem Ipsum is simply dummy text of the printing 	
</p>
{% endblock %}

{% block content311 %}
<p>
Lorem Ipsum is simply dummy text of the printing and 	
</p>
{% endblock %}
